#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Linux/$ARCH $KERNELVERSION Kernel Configuration"

config SRCARCH
	string
	option env="SRCARCH"

#Required for backported drivers to identify the needed helper functions
config KERNEL_3_4
	bool
	default y

source "arch/$SRCARCH/Kconfig"
source "backports/Kconfig"
